/*
 * -------------------------------------------------
 *  nf-core/meripseqpipe Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

// Global default params, used in configs
params {
  // Pipeline Options
  // Input files
  designfile = "$baseDir/designfile.tsv"
  comparefile = "$baseDir/comparefile.txt"

  // Setting main parameters of analysis mode
  stranded = "no" // "yes" OR "no" OR "reverse"
  mapq_cutoff = 20 // "255" means unique mapping reads
  aligners = "star" // "star" OR "bwa" OR "tophat2" OR "hisat2" OR "none"
  peakCalling_mode = "independence" // "group" OR "independence"
  peakMerged_mode = "rank" // "rank" OR "macs2" OR "MATK" OR "metpeak" OR "mspc"
  expression_analysis_mode = "DESeq2" // "DESeq2" OR "edgeR" OR "none"
  methylation_analysis_mode = "QNB" // "MATK" OR "QNB" OR "Wilcox-test" OR "MeTDiff" OR "edgeR" OR "DESeq2"

  // Reference genomes
  matk_jar = "$baseDir/MATK-1.0.jar"
  fasta = "/data1/zhuky/test-datasets/reference/TEST.fa"
  gtf = "/data1/zhuky/test-datasets/reference/TEST.gtf"
  rRNA_fasta = false
  tophat2_index = false
  hisat2_index = false
  bwa_index = false
  star_index = false

  // Other command line parameters
  peak_threshold = "medium" // "low" OR "medium" OR "high"
  saveReference = false
  outdir = "$baseDir/results"
  tracedir = "${params.outdir}/pipeline_info/"
  name = false
  multiqc_config = "$baseDir/assets/multiqc_config.yaml"
  email = false
  email_on_fail = false
  maxMultiqcEmailFileSize = 25.MB
  plaintext_email = false
  monochrome_logs = false
  help = false
  igenomes_base = 's3://ngi-igenomes/igenomes/'
  tracedir = "${params.outdir}/pipeline_info"
  igenomes_ignore = false
  custom_config_version = 'master'
  custom_config_base = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
  hostnames = false
  config_profile_description = false
  config_profile_contact = false
  config_profile_url = false

  // Defaults only, expecting to be overwritten
  max_memory = 128.GB
  max_cpus = 16
  max_time = 240.h

  // skipping modes Options
  skip_sort = false
  skip_peakCalling = false
  skip_diffpeakCalling = false
  skip_annotation = false
  skip_m6Aprediction = false
  skip_qc = false
  skip_motif = false
  skip_filterrRNA = false

  // skipping tools Options
  // PeakCalling tools
  skip_metpeak = false
  skip_macs2 = false
  skip_matk = false
  skip_meyer = false
  // QC Steps
  skip_fastp = false
  skip_fastqc = false
  skip_rseqc = false
  skip_createbedgraph = true
  skip_genebody_coverage = true

  // ignore
  input = false
  readPaths = false
  single_end = false
  gzip = false
}

// Container slug. Stable releases should specify release tag!
// Developmental code should specify :dev
process.container = 'kingzhuky/meripseqpipe:dev'

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

// Load nf-core custom profiles from different Institutions
//try {
// includeConfig "${params.custom_config_base}/nfcore_custom.config"
//} catch (Exception e) {
 // System.err.println("WARNING: Could not load nf-core/config profiles: ${params.custom_config_base}/nfcore_custom.config")
//}

// Avoid this error:
// WARNING: Your kernel does not support swap limit capabilities or the cgroup is not mounted. Memory limited without swap.
// Testing this in nf-core after discussion here https://github.com/nf-core/tools/pull/351, once this is established and works well, nextflow might implement this behavior as new default.
docker.runOptions = '-u \$(id -u):\$(id -g)'

// Load igenomes.config if required
if (!params.igenomes_ignore) {
  includeConfig 'conf/igenomes.config'
}
profiles {
  conda { process.conda = "$baseDir/environment.yml" }
  docker { 
    params.matk_jar = "/MATK-1.0.jar"
    docker.enabled = true
    docker.runOptions = '-u $(id -u):$(id -g)'
  }
  C2 { includeConfig 'conf/C2.config'}
  debug { process.beforeScript = 'echo $HOSTNAME' }
  test { includeConfig 'conf/test.config' }
  test_mixed { includeConfig 'conf/test_mixed.config' }
  test_bam { includeConfig 'conf/test_bam.config' }
  none {
    // Don't load any config (for use with custom home configs)
  }
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

timeline {
  enabled = true
  file = "${params.tracedir}/execution_timeline.html"
}
report {
  enabled = true
  file = "${params.tracedir}/execution_report.html"
}
trace {
  enabled = true
  file = "${params.tracedir}/execution_trace.txt"
}
dag {
  enabled = true
  file = "${params.tracedir}/pipeline_dag.svg"
}

manifest {
  name = 'MeRIPseqPipe'
  author = 'Kaiyu Zhu, Yu Sun, Xiaoqiong Bao'
  homePage = 'https://github.com/canceromics/MeRIPseqPipe'
  description = 'MeRIP-seq analysis pipeline arranged multiple alignment tools, peakCalling tools, Merge Peaks\' methods and methylation analysis methods.'
  mainScript = 'main.nf'
  nextflowVersion = '>=19.04.0'
  version = '1.0dev'
}

// Function to ensure that resource requirements don't go beyond
// a maximum limit
def check_max(obj, type) {
  if (type == 'memory') {
    try {
      if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
        return params.max_memory as nextflow.util.MemoryUnit
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
      return obj
    }
  } else if (type == 'time') {
    try {
      if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
        return params.max_time as nextflow.util.Duration
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
      return obj
    }
  } else if (type == 'cpus') {
    try {
      return Math.min( obj, params.max_cpus as int )
    } catch (all) {
      println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
      return obj
    }
  }
}
