/*
 * -------------------------------------------------
 *  MeRIPseqPipe Nextflow docker soft config file
 * -------------------------------------------------
 */

process {
  container = 'kingzhuky/meripseqpipe:dev'
}

params {
  // Defaults only, expecting to be overwritten
  matk_jar = '/MATK-1.0.jar'
}
