/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run path/to/MeRIPseqPipe -profile test,docker
 */

params {
  config_profile_name = 'Test profile'
  config_profile_description = 'Minimal test dataset to check pipeline function'
  // Limit resources so that this can run on GitHub Actions
  max_cpus = 2
  max_memory = 6.GB
  max_time = 48.h

  // Input data
  single_end = true
  comparefile = "$baseDir/test_datasets/inputfiles/comparefile.txt"
  designfile = "$baseDir/test_datasets/inputfiles/designfile_single.tsv"
  fasta = "$baseDir/test_datasets/reference/TEST.fa"
  gtf = "$baseDir/test_datasets/reference/TEST.gtf"
}